.about-mobile{
  background: $dark;
  color: $light;
  padding: 4rem 0;
  .about-mobile__content{
    padding: 0 2rem;
  }
  .about-mobile__identificator{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    .about-mobile__caption--number{
      color: $text-secondary-300;
    }
  }

  .about-mobile__title{
    margin-bottom: 2rem;
  }

  .about-mobile__navigation{
    display: flex;
    align-items: center;
    gap: 1rem;
    .about-mobile__navigation--directions{
      padding: 1rem .875rem;
      border-radius: 100px;
      &:hover{
        background: $primary;
      }
    }
  }

  .about-mobile__image{
    width: 100%;
    margin: 3.5rem 0;
  }

  .about-mobile__title-sector{
    margin-bottom: 2.5rem;
  }

  .about-mobile__text{
    color: $text-secondary-200;
    margin-bottom: 2rem;
  }

  .about-mobile__button{
    @include button-primary(10rem);
  }

  .about-mobile__counter{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5625rem 3.75rem 4.75rem;
    border-radius: 360px;
    box-shadow: 0 4px 4px #00000050;
    gap: .5rem;
    .about-mobile__counter--count{
      font-size: 140px;
      font-weight: 600;
    }
  }
}

//about-desktop

.header-desktop__nav-dark{
  background: $dark;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-desktop__list{
    display: flex;
    gap: 1rem;
    a{
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      color: $text-secondary-300;
      &:hover{
        color: $primary;
      }
    }
  }
  .header-desktop__button{
    width: 8rem;
    padding: 1rem;
    text-decoration: none;
    font-weight: 500;
    color: $light;
    background: #323259;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 5px 10px #00000025;
  }
}

.about-desktop{
  display: none;
  background: $dark;
  color: $light;
  padding: 6rem 2.5rem;

  .about-desktop__content{
    padding: 0;
  }
  .about-desktop__identificator{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    .about-desktop__caption--number{
      color: $text-secondary-300;
    }
  }
  .about-desktop__title-and-nav{
    display: flex;
    align-items: flex-start;
    .about-desktop__title{
      margin-bottom: 2rem;
    }
  
    .about-desktop__navigation{
      display: flex;
      align-items: center;
      gap: 1rem;
      .about-desktop__navigation--directions{
        padding: 1rem .875rem;
        border-radius: 100px;
        &:hover{
          background: $primary;
        }
      }
    }
  }

  

  .about-desktop__image{
    width: 100%;
    margin: 3.5rem 0;
  }

  .about-desktop__content-2{
    display: flex;
    align-items: flex-start;
    gap: 0 2.5rem;
  }


  .about-desktop__title-sector{
    margin-bottom: 2.5rem;
  }

  .about-desktop__text{
    color: $text-secondary-200;
    margin-bottom: 2rem;
  }

  .about-desktop__button{
    @include button-primary(10rem);
  }

  .about-desktop__counter{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5625rem 3.75rem 4.75rem;
    border-radius: 360px;
    box-shadow: 0 4px 4px #00000050;
    gap: .5rem;
    .about-desktop__counter--count{
      font-size: 140px;
      font-weight: 600;
    }
  }
}

@media only screen and(min-width: 720px){
  .about-mobile{
    display: none;
  }

  .about-desktop{
    display: block;
  }
}