.call-to-action-mobile{  
  position: relative;
  img{
    width: 100%;
  }
  .call-to-action-mobile__info{
    position: absolute;
    top: 0;
    color: $light;
    padding-top: 4rem;
    padding-left: 4.5rem;
    .call-to-action-mobile__identificator{
      padding-bottom: 1.5rem;
    }
    .call-to-action-mobile__title{
      padding-bottom: 2rem;
    }

    .call-to-action-mobile__button{
      padding: .75rem 1rem;
      width: 144px;
      background: $light;
      color: $primary;
      border: none;
      outline: none;
      border-radius: 8px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.call-to-action-desktop{
  display: none;

  margin: 2rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  position: relative;
  .img-desktop{
    display: none;
  }
  img{
    width: 100%;
  }
  .call-to-action-desktop__info{
    position: absolute;
    top: 0;
    left:280px;
    color: $light;
    padding-top: 4rem;
    padding-left: 4.5rem;
    .call-to-action-desktop__identificator{
      padding-bottom: 1.5rem;
    }
    .call-to-action-desktop__title{
      padding-bottom: 2rem;
    }

    .call-to-action-desktop__button{
      padding: .75rem 2rem;
      width: 144px;
      background: $light;
      color: $primary;
      border: none;
      outline: none;
      border-radius: 8px;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media only screen and(max-width: 320px){
  .call-to-action-mobile{
    .call-to-action-mobile__info{
      padding-left: 2.5rem;
    .call-to-action-mobile__title{
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.5rem;
    }
  }
}
}


@media only screen and(min-width: 720px){
  .call-to-action-mobile{
    display: none;
  }

  .call-to-action-desktop{
    display: block;
  }
}

@media only screen and(min-width: 1280px){
  .call-to-action-desktop{
    margin: 2rem 8rem;
    padding: 0;
    .img-tablet{
      display: none;
    }

    .img-desktop{
      display: block;
    }

    .call-to-action-desktop__info{
      margin-left: 15rem;
      .call-to-action-desktop__title{
        font-size: 4rem;
        line-height: 4.5rem;
        width: 60%;
        margin-bottom: 3.25rem;
      }

    }
  }
}