@import '../variables';
/*.line-ilustration{
  background: url(../../../../assets/images/mobile/about/line-1.svg) no-repeat right top;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}*/

.header-mobile{
  display: flex;
  flex-direction: column;
  margin-bottom: 3.75rem;
  .nav-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3.25rem 2rem 2.75rem;
    .nav-mobile__botao{
      border: none;
      outline: none;
      background: transparent;
    }
  }
  .intro-mobile{
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .intro-mobile__button{
      @include button-primary(10rem);
    }
    .intro-mobile__text{
      max-width: 320px;
    }
  }
  .header-mobile__illustration{
    margin-top: -9rem;
  }
}