@import './partials/components/header';
@import './partials/variables';
@import './partials/components/about';
@import './partials/components/done';
@import './partials/components/projects';
@import'./partials/components/call-to-action';
@import './partials/components/jobs';
@import './partials/components/footer';
@import './partials/components/side-menu';

//Configurações iniciais
html{
  scroll-behavior: smooth;
}

body, button{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

h1{
  font-size: 4.75rem;
  font-weight: 700;
}

h2{
  font-size: 4rem;
  font-weight: 700;
}

h3{
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
}

h4{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
}

h5{
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h6{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.display1{
  font-size: 6.875rem;
  font-weight: 700;
}

.display2{
  font-size: 5.25rem;
  font-weight: 700;
}

.title{
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.text-body-1{
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}

.text-body-2{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.button{
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.menuItem{
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.caption1{
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.125rem;
}

.nav-mobile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.25rem 2rem 2.75rem;
  .nav-mobile__botao{
    border: none;
    outline: none;
    background: transparent;
  }
}
.intro-mobile{
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .intro-mobile__button{
    @include button-primary(10rem);
  }
  .intro-mobile__text{
    max-width: 320px;
  }
}

@media only screen and(min-width: 720px){
  .nav-mobile{
    display: none;
  }
}